{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="shortcut icon" href="{% static 'css/media/logo2.png' %}" />
    <title>Forum</title>
</head>
<body>
    <nav class="nav-bar">
        
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">피드</a>
    <a href="#">스토리</a>
    <a href="#">스킨</a>
    <a href="#">포럼</a>
    <a href="#">글쓰기</a>
  </div>
  
  <span style="font-size:20px;cursor:pointer" onclick="openNav()" class="mobile-menu">&#9776;</span>
        <div class="logo-image cursor">
            <img src="{% static 'css/media/logo2.png' %}" alt="티스토리 로고 이미지" title="Tistory" >
        </div>
        <div class="nav-item">
            <a href="#" class="nav-list">피드</a>
            <a href="#" class="nav-list">스토리</a>
            <a href="#" class="nav-list">스킨</a>
            <a href="#" class="nav-list">포럼</a>
        </div>
        <span class="bell cursor">
            <img src="{% static 'css/media/bell2.png' %}" alt="읽지 않은 알림" title="unread notifications"  >
        </span>
        <span class="profile cursor">

        </span>
  
    </nav>
    <div class="section-top">
        <div class="cover-image">
            <img src="{% static 'css/media/purple.jpg' %}" alt="배경 이미지" title="cover-image" >
        </div>
        <div class="text">
            <strong>Forum</strong>
            <br>티스토리에 대한 이야기를 자유롭게 나눠보세요
        </div>
        
            
       
        <div class="search">
            <label for="select-category"></label>
                <select name="category" id="drop-down">
                   
                    <option value="all">전체</option>
                    <option value="title" selected="selected">제목</option>
                    <option value="writer">작성자</option>
                
                </select>
           <input type="text" placeholder="검색어를 입력하세요." class="search-bar">
           
        </div>
    </div>
    <div class="section-bottom">
        <div class="nav-wrapper">  
        <nav class="nav-bar-bottom">
           
                <a href="#" class="nav-list-bottom"><strong>전체</strong></a>
                <a href="#" class="nav-list-bottom">블로그 운영팁</a>
                <a href="#" class="nav-list-bottom">블로그 소개</a>
                <a href="#" class="nav-list-bottom">스킨</a>
                <a href="#" class="nav-list-bottom">기타</a>
                
        </nav>
 
        <div class="write cursor">
            <button>글쓰기</button>
        </div>
    </div>

        <div class="board">
            <div class="board-wrapper">
                <img src="{% static 'css/media/korin.png' %}" alt="글쓴이 프로필 이미지" title="writer-image">
                <div class="board-item">
               
                    <div class="nickname">
                        <div class="left">코린코린ㆍ 2020.10.18 ㆍ 기타</div>
                        <div class="right">조회수 555 댓글 55</div>
                    </div>
                    <div class="title">코린코린</div>
                    <div class="content">으ㅡ아아아아으드드드드듣다닫 크기에 맞춰서 자동 줄바꿈하기</div>
                
                </div>
               
            </div>

            <div class="board-wrapper">
                <img src="{% static 'css/media/korin.png' %}" alt="글쓴이 프로필 이미지" title="writer-image">
                <div class="board-item">
               
                    <div class="nickname">
                        <div class="left">코린코린ㆍ 2020.10.18 ㆍ 기타</div>
                        <div class="right">조회수 555 댓글 55</div>
                    </div>
                    <div class="title">코린코린</div>
                    <div class="content">두번째글ㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹ</div>
                
                </div>
            </div>

            <div class="board-wrapper">
                <img src="{% static 'css/media/korin.png' %}" alt="글쓴이 프로필 이미지" title="writer-image">
                <div class="board-item">
               
                    <div class="nickname">
                        <div class="left">코린코린ㆍ 2020.10.18 ㆍ 기타</div>
                        <div class="right">조회수 555 댓글 55</div>
                    </div>
                    <div class="title">코린코린</div>
                    <div class="content">세번째 글ㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹ</div>
                
                </div>
            </div>

            <div class="board-wrapper">
                <img src="{% static 'css/media/korin.png' %}" alt="글쓴이 프로필 이미지" title="writer-image">
                <div class="board-item">
               
                    <div class="nickname">
                        <div class="left">코린코린ㆍ 2020.10.18 ㆍ 기타</div>
                        <div class="right">조회수 555 댓글 55</div>
                    </div>
                    <div class="title">코린코린</div>
                    <div class="content">네번째 글ㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹㄹ</div>
                
                </div>
            </div>
                
                
                
               
                
                
            </div>
        </div>
   

           
    </div>
    
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
   
</body>
</html>