html,
body {
    min-width: 320px;
    min-height: 571px;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    font-size: 10px;
}

* {
    outline: none;
}

/* nav-bar */

.logo-image img {
    width: 50px;
    height: 50px;
}

.mobile-menu {
    text-decoration: none;
    display: none;
}

.cursor {
    cursor: pointer;
}

.nav-item {

    display: flex;
    list-style: none;
    padding-top: 60px;
    cursor: pointer;

}

.nav-list {
    font-size: 1.3rem;
    color: white;
    padding-left: 30px;
    text-decoration: none;

}

.nav-list:hover {
    text-decoration: underline;
}

.nav-bar {
    width: 100%;
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    height: 120px;


}

.nav-list {

    font-size: 2rem;
    color: white;
    cursor: pointer;

}


.bell {
    margin: 60px 30px 0 auto;

}

.bell img {
    width: 40px;
    height: 40px;
}

.logo-image {
    margin: 50px;

}

.profile {

    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 50px 80px 0 30px;
}



/* section top */


.section-top {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 50%;

}

.cover-image {
    width: 100%;
    height: 500px;
}

.cover-image img {

    width: 100%;
    height: 500px;
}

.text {
    top: 35%;
    left: 20%;
    z-index: 3;
    position: absolute;
    font-size: 3rem;
    color: white;
}

.search {
    position: absolute;
    top: 60%;
    display: flex;
    width: 60%;
    height: 12%;
    left: 20%;
}

#drop-down {
    width: 15%;
    height: 100%;
    font-size: 1.5rem;
    padding-left: 20px;
    border: none;
    border-right: 1px solid rgb(180, 180, 180);
    border-radius: 5px 0 0 5px;

}

#drop-down:hover {
    text-decoration: underline;
    outline: none;
}



#drop-down:focus {
    outline: none;
}

input::placeholder {
    color: #817e7e;
    font-size: 1.5rem;

}


.search-bar {

    width: 80%;
    height: 97%;
    background-image: url('media/search.png');
    background-size: 3%;
    background-repeat: no-repeat;
    background-position: 95% center;
    border: none;
    border-radius: 0 5px 5px 0;
    padding-left: 20px;
}

/* bottom-nav */



.nav-list-bottom {

    padding-left: 30px;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 2.3rem;
}

.nav-list-bottom:hover {

    text-decoration: underline;
}

.nav-bar-bottom {

    display: flex;
    align-items: center;
    cursor: pointer;
    height: 120px;


}

.write {
    align-self: center;
    width: 10rem;
    height: 3.5rem;
    text-align: center;
    margin-left: auto;


}

.write button {

    font-size: 1rem;
    color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    width: 10rem;
    height: 3.5rem;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;


}

/*section-bottom*/

.section-bottom {
    margin: 0 auto;
    width: 65%;

    height: 50%;
    align-items: center;
}

.board {

    width: 100%;
}

.board-wrapper {

    display: flex;
    margin: 5% auto;
    border-bottom: 1px solid gray;


}


.board-wrapper img {
    width: 10%;
    height: 10%;
    border-radius: 50%;

}


.board-item {
    width: 90%;
}


.right {
    color: gray;
    margin-left: auto;
}



.nickname {
    width: 95%;
    display: flex;

    font-size: 1.5rem;
}

.title {
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}



.content {
    width: 80%;
    font-size: 2rem;
    padding-bottom: 5%;
    color: gray;
}





.nav-wrapper {
    display: flex;
    border-bottom: 1px solid gray;

}


/*mobile-side-nav */

.sidenav {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    text-decoration: underline;
}

.sidenav .closebtn {

    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 150px;
}

/*form*/

form {
    font-size: 1.3rem;
    width: 100%;
    height: 400px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    margin: 20% auto 0;

}

.radio-object {
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #cfcfcf;
    color: #817e7e;
}

.radio-text {
    width: 20%;
    margin-left: 5%;
}

.radio-item+.radio-item {
    padding-left: 10px;
}



.flex {
    display: flex;
    align-items: center;

}

.form-title label,
.form-content label,
.form-file label {
    font-size: 1.5rem;
    color: #817e7e;
    margin-left: 5%;
    width: 20%;
}

.form-title {
    height: 20%;
    border-bottom: 1px solid #cfcfcf;
}

.form-content {
    height: 40%;
    border-bottom: 1px solid #cfcfcf;
}

.form-file {
    height: 20%;
}

#title,
#content {

    border: none;
}


.word-count {
    margin-left: auto;
    color: #817e7e;
    margin-right: 5%;
}

/*btn*/

.btn-wrapper {
    display: flex;
    width: 100%;
    margin: 10% 0;
    flex-direction: row;
    justify-content: center;
}

.btn1,
.btn2 {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 40px;
    width: 120px;
    height: 45px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.btn1:hover {
    background-color: rgb(253, 92, 92);
    color: white;
    border: none;
}

.btn2 {
    background-color: rgb(194, 194, 194);
    color: white;

}






@media(max-width:767px) {

    /*nav-bar*/

    .nav-bar {
        height: 50px;
    }

    .logo-image {
        margin-top: 20px;
        margin-left: 20px;
    }

    .logo-image img {
        width: 20px;
        height: 20px;



    }

    .bell {
        margin-top: 20px;
        margin-right: 10px;
    }

    .bell img {
        width: 20px;
        height: 20px;

    }

    .profile {

        width: 20px;
        height: 20px;
        margin: 20px 40px 0 10px;

    }

    /*section-top*/

    .section-top {
        height: 30%;
    }

    .cover-image {
        height: 30%;
    }

    .cover-image img {
        height: 30%;
    }

    .text {
        font-size: 1.3rem;
        left: 10%;
        width: 70%;
    }

    .search {
        top: 70%;
        width: 80%;
        height: 15%;
        left: 10%;
    }

    #drop-down {
        width: 30%;
        font-size: 1rem;
        padding-left: 10px;
    }


    .search-bar {
        width: 70%;
        height: 95%;
        background-size: 7%;

    }

    input::placeholder {

        font-size: 1rem;

    }

    /*section-bottom*/

    .section-bottom {
        width: 95%;
        height: 70%;
    }

    .board-wrapper {
        border-bottom: 0.5px solid gray;
    }

    .board-wrapper img {
        width: 15%;
        height: 15%;
    }

    .nickname {
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .content {
        font-size: 1.2rem;
    }




    .nav-wrapper {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .sidenav {
        display: inline;
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .mobile-menu {
        display: inline;
    }


}

@media(min-width:768px) and (max-width:1023px) {
    .text {
        font-size: 2.5rem;
    }

    .nav-list-bottom {
        flex: none;
        font-size: 2rem;
        padding-left: 20px;

    }

    #drop-down {
        width: 20%;
    }

    .search-bar {
        background-size: 5%;
    }

    .section-bottom {
        width: 75%;
        margin: 0 auto;
    }
}